<settings>
    <category label="settings">
        <setting label="realdebrid login (required if not using urlresolver)" type="lsep" />
        <setting id="user" type="text" label="username" default="" />
        <setting id="password" type="text" hidden="true" label="password" default="" />
        <setting label="misc" type="lsep" />
        <setting id="cache_results" type="bool" default="true" label="cache search results" />
        <setting id="use_urlresolver" type="bool" default="false" label="use urlresolver" />
    </category>
</settings>
